* ::before,::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
 


}

html {
  font-family: Raleway;
  font-size: 10px;
}


/* Header Menu & Logo Desktop  */

.menu{
font-size: 1.8rem;
position: relative;
left: 125rem;
top: 2rem;
display: inline-block;
}

a{
text-decoration: none;
color: black;
}




.menu a {
text-decoration: none;
color: black;
}


.menu :nth-child(1){
list-style: none;
position: relative;

}

.menu :nth-child(2){
position: relative;
left: 21rem;
bottom: 2.0rem;
list-style: none;

}


.menu :nth-child(3){
position: relative;
left: 35rem;
bottom: 4.1rem;
list-style: none;

}


.couleur a{
  color: #0065fc;
  position: relative;
  top: 1rem;
}

.couleur:nth-child(2) a{
  color: black;
}

.couleur:hover a{
  border-top: 5px solid #0065fc;
}



.logo{

position: relative;
bottom: 8rem;
left: 8rem;


}

/* Titre et Sous Titre Desktop */

.titre{
  position: relative;
  bottom: 6rem;
  left: 8rem;
  font-size: 1.8rem;
}

.informations{
  position: relative;
  bottom: 7.5rem;
  left: 8rem;
  font-size: 1.6rem;
}

/* Barre de recherche Desktop */

.iconeparent{
  position: relative;
  display: flex;
  bottom: 5rem;
  left: 7rem;

}

.iconeparent i {
  display: flex;
  width: 3rem;
  height: 3rem;
  font-size: 1.8rem;
  background: #f2f2f2;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 0.9rem;
  border-bottom-left-radius: 0.9rem;
}

button{
  display: flex;
  align-items: center;
  background: #0065fc;
  color: white;
  cursor: pointer;
  font-size: 1.8rem;
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;

}

.iconegeo2{
  position: absolute;
  right: 300rem;
  
}

.icone2{
  display: none;
  
}

/* Filtre de recherche Desktop */

.filter{
  position: relative;
  bottom: 3.5rem;
  left: 7.8rem;
  display: flex;
  font-size: 1.8rem;
 
  
}

.filter h4{

    font-size: 1.8rem;
}

.css_ul_liste_filtres{
position: relative;
 top: 0rem;
display: flex;
left: 5rem;
list-style: none;
left: 2rem;


}

.css_ul_liste_filtres li span i:hover{
  top: 3px;
}

.css_ul_liste_filtres li:hover{
  top: 3px;
}


.css_ul_liste_filtres li {
border: 2px solid #dedede;
background: white;
margin-left: 2rem;
border-radius: 5rem;
display: flex;
align-items: center;
position: relative;
}

.css_ul_liste_filtres li:nth-child(1){
  width: 15rem;
}

.css_ul_liste_filtres li:nth-child(2){
  width: 11.5rem;
}

.css_ul_liste_filtres li:nth-child(3){
  width: 15rem;
}
.css_ul_liste_filtres li:nth-child(4){
  width: 20rem;
}



.css_ul_liste_filtres span{
  margin-left: 0.5rem;
}

.css_ul_liste_filtres li i {
  width: 3rem;
  height: 3rem;
  background: #DEEBFF;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 0.5rem;
  background: #DEEBFF;
  color: #0065fc;
}

/* Informations complémentaires Desktop */

.icone span {
  position: relative;
  top: 8rem;
  right: 80rem;
  font-size: 1.6rem;
}

.icone i {
  color: #0065fc;
}

.numero1{
  display: none;
}

/* Container 1 -- Hébergement à Marseille */

.container{
  width: 100rem;
  height: 70rem;
  background: #F2F2F2;
  margin-left: 7.3rem;
  display: flex;
  flex-wrap: wrap;
  border-radius: 3rem;
  position: relative;
  top: 2rem;
}

.titre2{
  font-size: 1.5rem;
  position: relative;
  left: 5rem;
  top: 1.6rem;
}

.click1{
  text-decoration: none;
}


.premier{
  width: 18rem;
  height: 13rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 2rem;
  position: relative;
  right: 5rem;
  top: 2rem;
  margin-left: 4rem;
  padding: 5rem;
  
}

.premier img{
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  width: 27.5rem;
  height: 14rem;
  object-fit: cover;
  position: relative;
  right: 5rem;
  bottom: 4.5rem;
  margin-left: 0.3rem;
}



.premier h5{
  position: relative; 
  font-size: 1.8rem;
  white-space: nowrap;
  bottom: 7rem;
  color: black;
  font-weight: bold;
  right: 2rem;
  bottom: 6.5rem;
 
  
}

.premier p {
  position: relative;
  bottom: 9rem;
  color: black;
  font-size: 1.3rem;
  right: 2rem;
}

.premier i {
  position: relative;
  bottom: 9.3rem;
  right: 1.9rem;
  font-size: 1.3rem;
  color: #0065fc;
}

.premier i:nth-child(8){
  color: #dedede;
}



.deuxieme{
  width: 18rem;
  height: 13rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 2rem;
  position: relative;
 bottom: 21rem;
 left: 25rem;
  margin-left: 5rem;
  padding: 5rem;
  
}

.deuxieme img{
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  width: 27.5rem;
  height: 14rem;
  object-fit: cover;
  position: relative;
  right: 5rem;
  bottom: 4.5rem;
  margin-left: 0.3rem;
}



.deuxieme h5{
  position: relative; 
  font-size: 1.8rem;
  white-space: nowrap;
  bottom: 7rem;
  color: black;
  font-weight: bold;
  right: 2rem;
  bottom: 6.5rem;
 
  
}

.deuxieme p {
  position: relative;
  bottom: 9rem;
  color: black;
  font-size: 1.3rem;
  right: 2rem;
}

.deuxieme i {
  position: relative;
  bottom: 9.3rem;
  right: 1.9rem;
  font-size: 1.3rem;
  color: #0065fc;
}

.click2{
  text-decoration: none;
}

.troisieme{
  width: 18rem;
  height: 13rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 2rem;
  position: relative;
  left: 57rem;
  bottom: 44rem;
  margin-left: 4rem;
  padding: 5rem;
  
}

.troisieme img{
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  width: 27.5rem;
  height: 14rem;
  object-fit: cover;
  position: relative;
  right: 5rem;
  bottom: 4.5rem;
  margin-left: 0.3rem;
}



.troisieme h5{
  position: relative; 
  font-size: 1.8rem;
  white-space: nowrap;
  bottom: 7rem;
  color: black;
  font-weight: bold;
  right: 2rem;
  bottom: 6.5rem;
 
  
 
  
}

.troisieme p {
  position: relative;
  bottom: 9rem;
  color: black;
  font-size: 1.3rem;
  right: 2rem;
}

.troisieme i {
  position: relative;
  bottom: 9.3rem;
  right: 1.9rem;
  font-size: 1.3rem;
  color: #0065fc;
}

.troisieme i:nth-child(8){
  color: #dedede;
}


.click3{
  text-decoration: none;
}

.quatrieme{
  width: 18rem;
  height: 13rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 2rem;
  position: relative;
  right: 1rem;
  bottom: 40rem;
  padding: 5rem;
  
}

.quatrieme img{
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  width: 27.5rem;
  height: 14rem;
  object-fit: cover;
  position: relative;
  right: 5rem;
  bottom: 4.5rem;
  margin-left: 0.3rem;
}



.quatrieme h5{
  position: relative; 
  font-size: 1.8rem;
  white-space: nowrap;
  bottom: 7rem;
  color: black;
  font-weight: bold;
  right: 2rem;
  bottom: 6.5rem;
 
  
}

.quatrieme p {
  position: relative;
  bottom: 9rem;
  color: black;
  font-size: 1.3rem;
  right: 2rem;
}

.quatrieme i {
  position: relative;
  bottom: 9.3rem;
  right: 1.9rem;
  color: #0065fc;
  font-size: 1.3rem;
}

.quatrieme i:nth-child(7){
  color: #dedede;
}
.quatrieme i:nth-child(8){
  color: #dedede;
}


.click4{
  text-decoration: none;
}

.cinquieme{
width: 18rem;
height: 13rem;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
border-radius: 2rem;
position: relative;
bottom: 63rem;
left: 26rem;
margin-left: 4rem;
padding: 5rem;

}

.cinquieme img{
border-top-left-radius: 1.5rem;
border-top-right-radius: 1.5rem;
width: 27.5rem;
height: 14rem;
object-fit: cover;
position: relative;
right: 5rem;
bottom: 4.5rem;
margin-left: 0.3rem;
}



.cinquieme h5{
position: relative; 
font-size: 1.8rem;
white-space: nowrap;
bottom: 7rem;
color: black;
font-weight: bold;
right: 2rem;
bottom: 6.5rem;

}

.cinquieme p {
position: relative;
bottom: 9rem;
color: black;
font-size: 1.3rem;
right: 2rem;
}

.cinquieme i {
position: relative;
bottom: 9.3rem;
right: 1.9rem;
font-size: 1.3rem;
color: #0065fc;
}

.cinquieme i:nth-child(8){
color: #dedede;
}

.click5{
text-decoration: none;
}

.sixieme{
  width: 18rem;
  height: 13rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 2rem;
  position: relative;
  bottom: 86rem;
  left: 57rem;
  margin-left: 5rem;
  padding: 5rem;
  
}

.sixieme img{
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  width: 27.5rem;
  height: 14rem;
  object-fit: cover;
  position: relative;
  right: 5rem;
  bottom: 4.5rem;
  margin-left: 0.3rem;
}



.sixieme h5{
  position: relative; 
  font-size: 1.8rem;
  white-space: nowrap;
  bottom: 7rem;
  color: black;
  font-weight: bold;
  right: 2rem;
  bottom: 6.5rem;
 
}

.sixieme p {
  position: relative;
  bottom: 9rem;
  color: black;
  font-size: 1.3rem;
  right: 2rem;
}

.sixieme i {
  position: relative;
  bottom: 9.3rem;
  right: 1.9rem;
  color: #0065fc;
  font-size: 1.3rem;
}

.click6{
  text-decoration: none;
}


/* Afficher plus Desktop */

.infosup{
  position: relative;
  bottom: 7rem;
  left: 14rem;
  font-size: 1.7rem;
}

/* Les plus populaire Desktop */


.container2{
  width: 50rem;
  height: 70rem;
  background: #f2f2f2;
  position: relative;
  left: 133rem;
  bottom: 74.5rem;
  border-radius: 3rem;
  padding: 0;
}


.populaire{
  font-size: 1.6rem;
  position: relative;
  top: 2rem;
  left: 7rem;
}

.icone1{
  font-size: 2rem;
  position: relative;
  left: 40rem;
  bottom :2.5rem;
}

.logementpop1{
  width: 35rem;
  height: 13rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 2rem;
  position: relative;
  margin-left: 5rem;
  padding: 2rem;
  
}

.logementpop1 img{
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  width: 16rem;
  height: 16rem;
  object-fit: cover;
  position: relative;
  bottom: 1.5rem;
  right: 2rem;
  margin-left: 0.3rem;
}



.logementpop1 h3{
  position: absolute; 
  left: 20rem;
  top: 2rem;
  right: 5rem;
  font-size: 1.6rem;
  font-weight: bolder;
  
 
}

.logementpop1 p{
  position: absolute; 
  left: 20rem;
  bottom: 6rem;
  right: 5rem;
  font-size: 1.3rem;
  font-weight: bolder;
  
}

.logementpop1 i{
 position: relative;
 bottom: 2rem;
 left: 1rem;
  font-size: 1.3rem;
  font-weight: bolder;
  color: #0065fc;
  
}

.logementpop2{
  width: 35rem;
  height: 13rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 2rem;
  position: relative;
  margin-left: 5rem;
  padding: 2rem;
  top: 3rem;
  
}

.logementpop2 img{
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  width: 16rem;
  height: 16rem;
  object-fit: cover;
  position: relative;
  bottom: 1.5rem;
  right: 2rem;
  margin-left: 0.3rem;
}



.logementpop2 h3{
  position: absolute; 
  left: 20rem;
  top: 2rem;
  right: 5rem;
  font-size: 1.6rem;
  font-weight: bolder;
  
 
}

.logementpop2 p{
  position: absolute; 
  left: 20rem;
  bottom: 6rem;
  right: 5rem;
  font-size: 1.3rem;
  font-weight: bolder;
  
}

.logementpop2 i{
 position: relative;
 bottom: 2rem;
 left: 1rem;
  font-size: 1.3rem;
  font-weight: bolder;
  color: #0065fc;
  
}

.logementpop2 i:nth-child(8){
color: #dedede;
}

.logementpop3{
  width: 35rem;
  height: 13rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 2rem;
  position: relative;
  margin-left: 5rem;
  padding: 2rem;
  top: 8rem;
  
}

.logementpop3 img{
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  width: 16rem;
  height: 16rem;
  object-fit: cover;
  position: relative;
  bottom: 1.5rem;
  right: 2rem;
  margin-left: 0.3rem;
}



.logementpop3 h3{
  position: absolute; 
  left: 20rem;
  top: 2rem;
  right: 5rem;
  font-size: 1.6rem;
  font-weight: bolder;
  
 
}

.logementpop3 p{
  position: absolute; 
  left: 20rem;
  bottom: 6rem;
  right: 5rem;
  font-size: 1.3rem;
  font-weight: bolder;
  
}

.logementpop3 i{
 position: relative;
 bottom: 2rem;
 left: 1rem;
font-size: 1.3rem;
 font-weight: bolder;
color: #0065fc;
  
  
}

.logementpop3 i:nth-child(8){
  color: #dedede;
  }

 /* Activité à Marseille Desktop */

/* Activité à Marseille */

.titre3{
  position: relative;
  bottom: 65rem;
  left: 8.5rem;
  font-size: 1.5rem;
}




.grandephoto{
  position: absolute;
  width: 40rem;
  height: 55rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  border-radius: 3rem;
  bottom: 5rem;
  top: 125rem;
  left: 8rem;
 
}

.grandephoto img {
  width: 40rem;
  height: 50rem;
  object-fit: cover;
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
}

.grandephoto h4{
position: relative;
bottom: 0.5rem;
left: 1rem;
font-size: 1.6rem;
}



.click10{
color: black;
text-decoration: none;
}


.petitephoto{
  width: 400px;
  height: 210px;
  background: #f2f2f2;
  border-radius: 30px;
  overflow: hidden;
  position: absolute;
  top: 935px;
  box-shadow: 0 0 20px rgba(0,0,0,0.20);
  margin-top: 320px;
  left: 520px;
  
  
}

.petitephoto img {
  
  width: 450px; 
  height: 150px; 
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 0 20px rgb(0,0,0,0.20);
  
}

.petitephoto h4{
 margin-left: 25px;
 font-size: 1.6rem;
}

.click12{
  color: black;
}

.petitephoto1{
  width: 400px;
  height: 210px;
  background: #f2f2f2;
  border-radius: 30px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0 0 20px rgba(0,0,0,0.20);
  top: 900px;
  left: 520px;
  margin-top: 680px;
  
}

.petitephoto1 img {
  
  width: 450px; 
  height: 150px; 
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 0 20px rgb(0,0,0,0.20);
  
}

.petitephoto1 h4{
  margin-left: 20px;
  font-size: 1.6rem;
}

.click13{
  color: black;
}

.grandephoto2{
  position: absolute;
  width: 40rem;
  height: 55rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  top: 125rem;
  left: 97rem;
  border-radius: 3rem;
  
}

.grandephoto2 img{
  position: absolute;
  width: 40rem;
  height: 50rem;
  object-fit: cover;
  bottom: 5rem;
  font-size: 1.6rem;
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
}

.grandephoto2 h4{
  position: relative;
  top: 49rem;
  left: 3rem;
  font-size: 1.6rem;
}

.petitephoto3{
  width: 400px;
  height: 210px;
  background: #f2f2f2;
  border-radius: 30px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0 0 20px rgba(0,0,0,0.20);
  top: 530px;
  left: 1430px;
  margin-top: 720px;
  
}

.petitephoto3 img {
  
  width: 450px; 
  height: 150px; 
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 0 20px rgb(0,0,0,0.20);
  
}

.petitephoto3 h4{
  margin-left: 20px;
  font-size: 1.6rem;
}

.click13{
  color: black;
}

.petitephoto4{
  width: 400px;
  height: 210px;
  background: #f2f2f2;
  border-radius: 30px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0 0 20px rgba(0,0,0,0.20);
  top: 910px;
  left: 1430px;
  margin-top: 680px;
  
}

.petitephoto4 img {
  
  width: 450px; 
  height: 150px; 
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 0 20px rgb(0,0,0,0.20);
  
}

.petitephoto4 h4{
  margin-left: 20px;
  font-size: 1.6rem;
}

.click13{
  color: black;
}








/* Footer Desktop */

.backtest {
  position: relative;
  background-color: #f2f2f2;
  width: 1905px;
  height: 200px;
  top: 0rem;
  bottom: -530rem;



}

.footerleft {
  position: absolute;
  margin-top: 20px;
  left: 200px;
  font-size: 1.8rem;
  
}

.footercenter {
  position: absolute;
  left: 300px;
  margin-left: 500px;
  margin-top: 20px;
  font-size: 1.8rem;
}

.footerright {
  position: absolute;
  left: 600px;
  margin-left: 900px;
  margin-top: 20px;
  font-size: 1.8rem;
}

/* Responsive Ipad */

@media (min-width: 768px) and (max-width: 1024px) {

  html, body {
    font-family: Railways;
    overflow-x: hidden;
  }



  body{
    position: relative;

  }
 

  /* Logo & Menu iPad */
  
  .logo{
    position: relative;
    bottom: 6rem;
  }
  
  .menu ul  {
  position: relative;
  right: 120rem;
  top: 4rem;
  font-size: 1.8rem;
  
  }
  
  .titre{
    font-size: 1.5rem;
    position: relative;
    bottom: 4rem;
  }
  
  .informations{
    position: relative;
    bottom: 5rem;
  }
  
  /* Barre de recherche iPad */
  
  
  /* Filtre iPad */
  
  .filter{
    position: absolute;
    display: block;
    top: 25rem;
    left: 10rem;
   
  }
  
  .filter h4{
  position: absolute;
 top: -3rem;
  
  }
  
  .css_ul_liste_filtres{
    left: -7rem;
    top: 1rem;
  }
  
  
  
  .css_ul_liste_filtres :nth-child(3){
    top: 5rem;
    right: 30rem;
  }
  
  .css_ul_liste_filtres :nth-child(4){
    top: 5rem;
    right: 30rem;
  
  }
  
  /* Hébergement à Marseille iPad */
  
  .container{
    position: relative;
    top: 15rem;
    right: 4rem;
    width: 70rem;
    height: 175rem;
  }
  
  .titre2 h2{
    position: relative;
    left: 13rem;
    font-size: 3rem;
  
  }
  
  .premier{
    position: absolute;
    bottom: 150rem;
    left: 1rem;
    top: 9rem;
    width: 40rem;
  
  }

  .premier img{
      width: 50rem;
      object-fit: cover;
  }


  
  .deuxieme{
    position: absolute;
    bottom: 100rem;
    left: 0rem;
    top: 36rem;
    width: 40rem;
  
  }

  .deuxieme img{
      width: 50rem;
      object-fit: cover;
  }


  .troisieme{
    position: absolute;
    bottom: 100rem;
    left: 1rem;
    top: 62rem;
    width: 40rem;
  
  }

  .troisieme img{
      width: 50rem;
      object-fit: cover;
  }


  .quatrieme{
    position: absolute;
    bottom: 100rem;
    left: 5rem;
    top: 88rem;
    width: 40rem;
  
  }

  .quatrieme img{
      width: 50rem;
      object-fit: cover;
  }

  .cinquieme{
    position: absolute;
    bottom: 100rem;
    left: 1rem;
    top: 115rem;
    width: 40rem;
  
  }

  .cinquieme img{
      width: 50rem;
      object-fit: cover;
  }

  .sixieme{
    position: absolute;
    bottom: 100rem;
    left: 0rem;
    top: 142rem;
    width: 40rem;
  
  }

  .sixieme img{
      width: 50rem;
      object-fit: cover;
  }

.infosup{
  position: relative;
  top: 7rem;
 left: 31rem;
 font-size: 1.8rem;
  
  
}

/* Les Plus Populaire iPad */

.container2{
  position: relative;
  top: 15rem;
 left: 3em;
 width: 70rem;
 height: 73rem;

}

.populaire h2{
    position: relative;
    font-size: 3rem;
    top: 0rem;
    left: 13rem;
}

.icone1{
    position: relative;
    left: 55rem;
}

.logementpop1{
    position: relative;
    top: 3rem;
    left: 5.6rem;
    width: 50rem;
}

.logementpop2{
    position: relative;
    top: 6rem;
    left: 5.6rem;
  width: 50rem;
}

.logementpop3{
  position: relative;
  top: 10rem;
  left: 5.6rem;
  width: 50rem;
}


/* Activité à Marseille  iPad*/
.titre3{
  position: absolute;
  top: 300rem;
  left: 25rem;
  font-size: 2rem;
  
}

.grandephoto{
position: absolute;
top: 310rem;
left: 15rem;
width: 45rem;
height: 15rem;
}

.grandephoto img{
  width: 45rem;
  height: 10rem;
  object-fit: cover;
}

.grandephoto h4{
    font-size: 1.8rem;
}

.petitephoto{
  position: absolute;
  top: 298rem;
  left: 15rem;
  width: 45rem;
  height: 15rem;
  }
  
  .petitephoto img{
    width: 45rem;
    height: 10rem;
    object-fit: cover;
  }

  .petitephoto h4{
      font-size: 1.8rem;
  }

  .petitephoto1{
    position: absolute;
    top: 280rem;
    left: 15rem;
    width: 45rem;
    height: 15rem;
    }
    
    .petitephoto1 img{
      width: 45rem;
      height: 10rem;
      object-fit: cover;
    }

    .petitephoto1 h4{
      font-size: 1.8rem;
    }

    .grandephoto2{
      position: absolute;
      top: 368rem;
      left: 15rem;
      width: 45rem;
      height: 15rem;
      }

      .grandephoto2 h4{
        position: relative;
        top: 10rem;
        font-size: 1.8rem;
      }
      
      .grandephoto2 img{
        width: 45rem;
        height: 10rem;
        object-fit: cover;
       
      }

      .petitephoto3{
        position: absolute;
        top: 315rem;
        left: 15rem;
        width: 45rem;
        height: 15rem;
        
        }
        
        .petitephoto3 img{
          width: 45rem;
          height: 10rem;
          object-fit: cover;
        }

        .petitephoto3 h4{
          font-size: 1.8rem;
        }

     

      .petitephoto4{
        position: absolute;
        top: 340rem;
        left: 15rem;
        width: 45rem;
        height: 15rem;
  
        }
        
        .petitephoto4 img{
          width: 45rem;
          height: 10rem;
          object-fit: cover;
        }

        .petitephoto4 h4{
          font-size: 1.8rem;
        }
/* Footer iPad */

.backtest{
position: relative;
height: 40rem;
width: 500rem;
top: 150rem;
}

.footerleft{
position: absolute;
left: 5rem;
font-size: 1.7rem;


}

.footercenter{
  position: absolute;
  left: -18rem;
  font-size: 1.7rem;
 
}

.footerright{
  position:absolute;
  left: -33rem;
 
}


}





/* Responsive iPhone */


@media (min-width:375px) and (max-width:500px) {


 
  html, body {
    font-family: Railways;
    overflow-x: hidden;
  }
  body {
    position: relative
  }

/* Menu & Logo mobile*/



.menu{
  position: absolute;
  top: 4rem;
  left: 0.3rem;
  font-size: 1.7rem;
}



.menu ul li:nth-child(3){

  position: absolute;
  left: 28rem;
  bottom: 6rem;

}




.menu ul :nth-child(2){
  border-bottom: transparent;
}


.menu ul :nth-child(3){
  border-bottom: transparent;
}


.logo{
  position: absolute;
 top: 0.5rem;
 left: 2.5rem;
  
}

/* Titre & Sous Titre mobile */
.titre{
  position: absolute;
  top: 8rem;
 left: 2rem;
}

.informations{
  position: absolute;
  top: 14rem;
  left: 2rem;
  
}

.iconeparent{
  position: absolute;
  bottom: 43rem;

}


/* Barre de Recherche mobile */

input{
  border-radius: 0.5rem;
  position: absolute;
  z-index: 7;
  top: -408rem;
 display: flex;
 width: 19rem;
 height: 3rem;
 text-align: center;
}

button{
  display: none;
}


.icone2{
  z-index: 8 ;
  position: absolute;
  bottom: 408.5rem;
  right: 5rem;
  display: flex;
  justify-content: end;
  align-content: flex-end;
  color: #f2f2f2;
  font-size: 1rem;
}

.iconegeo i {
  z-index: 8;
  display: flex;
  position: relative;
  bottom: 408rem;
  right: 0.5rem;
  font-size: 1.4rem;
}

.icone2 i {
  position: relative;
  left: 20.8rem;
  top:0.5rem;
  background: #0065fc;
  font-size: 1.3rem;
}



 

/* Filtre de Recherche mobile */

.filter{
  position: absolute;
  display: block;
top: 20rem;

}

.filter h4{
position: relative;
bottom: -1.8rem;
right: 5rem;

}

.css_ul_liste_filtres{
  left: 2rem;
  top: 1rem;
}

.css_ul_liste_filtres  {
  position: relative;
  left: -10rem;
}

.css_ul_liste_filtres :nth-child(2){
  left: 2rem;
}

.css_ul_liste_filtres :nth-child(3){
  top: 5rem;
  right: 30.5rem;
}

.css_ul_liste_filtres :nth-child(4){
  top: 10rem;
  right: 48rem;

}
  /* Informations suupplémentaire mobile */

  .icone span{
    position: absolute;
    top: 25rem;
    right: 48rem;
    left: -1rem;
    font-size: 1.9rem;
    display: block;
    white-space: wrap;
    font-size: 1.7rem;
    
  }

.icone span i{
left: -2.5rem;
position: absolute;
 display: block;
}

.numero1{
  opacity: 0;
}

.numero2{
  opacity: 0;
}

  /* Logement Populaire mobile */



  .container2{
    position: absolute;
    top: 53rem;
    left: 0rem;
    right: 0rem;
    height: 72rem;
    width: 38rem;
  }

  .populaire h2{
    position: relative;
    bottom: 1rem;
    right: 4rem;
  }

  .icone1{
    position: relative;
    left: 32rem;
    bottom: 3.2rem;
  }

  .logementpop1{
    position: relative;
    right: 3.5rem;
    width: 30rem;
  }

  .logementpop1 h3{
    position: absolute;
    bottom: 30rem;
    font-size: 1.7rem;
    white-space: nowrap;
  }
  .logementpop1 p{
    position: absolute;
    top: 7rem;
    font-size: 1.5rem;
  }

  .logementpop1 i{
  position: relative;
  bottom: 2rem;
  color: #0065fc;
  }


  .logementpop2{
    position: relative;
    right: 3.5rem;
    width: 30rem;
  }

  .logementpop2 h3{
    position: absolute;
    bottom: 30rem;
    font-size: 1.7rem;
    white-space: nowrap;
  }
  .logementpop2 p{
    position: absolute;
    top: 7rem;
    font-size: 1.5rem;
  }

  .logementpop2 i{
  position: relative;
  bottom: 2rem;
  color: #0065fc;
  }

  .logementpop2 i:nth-child(8){
    color: #dedede;
  }  


  .logementpop3{
    position: relative;
    right: 3.5rem;
    width: 30rem;
  }

  .logementpop3 h3{
    position: absolute;
    bottom: 30rem;
    font-size: 1.7rem;
    white-space: nowrap;
  }
  .logementpop3 p{
    position: absolute;
    top: 7rem;
    font-size: 1.5rem;
  }

  .logementpop3 i{
  position: relative;
  bottom: 2rem;
  color: #0065fc;
  }

  .logementpop3 i:nth-child(8){
    color: #dedede;
  } 

  /* Hébergement à Marseille mobile*/

  .container{
    position: absolute;
    top: 130rem;
    left: -8rem;
    width: 38rem;
    height: 173rem;
  }

  .premier{
    width: 25rem;
    position: relative;
   right: 8rem;
  }

  .premier img{
    width: 33.8rem;
    object-fit: cover;
  }

  .premier h5{
    position: relative;
    right: 3rem;
  }

  .premier p {
    position: relative;
    right: 3rem;
    font-size: 1.5rem;
  }

  .premier i {
    position: relative;
    right: 3rem;
    font-size: 1.5rem;
  }

  .premier i:nth-child(8){
    color: #dedede;
  }

  .deuxieme{
    width: 25rem;
    position: relative;
    top: 5rem;
    left: -9rem;
  }

  .deuxieme img{
    width: 33.8rem;
    object-fit: cover;
  }

  .deuxieme h5{
    position: relative;
    right: 3rem;
  }

  .deuxieme p {
    position: relative;
    right: 3rem;
    font-size: 1.5rem;
  }

  .deuxieme i {
    position: relative;
    right: 3rem;
    font-size: 1.5rem;
  }

  .troisieme{
    width: 25rem;
    position: relative;
   left: -7.8rem;
   top:7.5rem;
  }

  .troisieme img{
    width: 33.8rem;
    object-fit: cover;
  }

  .troisieme h5{
    position: relative;
    right: 3rem;
  }

  .troisieme p {
    position: relative;
    right: 3rem;
    font-size: 1.5rem;
  }

  .troisieme i {
    position: relative;
    right: 3rem;
    font-size: 1.5rem;
  }

  .troisieme i:nth-child(8){
    color: #dedede;
  }
  .quatrieme{
    width: 25rem;
    position: relative;
   left: -4rem;
   top: 10rem;
  }

  .quatrieme img{
    width: 33.8rem;
    object-fit: cover;
  }

  .quatrieme h5{
    position: relative;
    right: 3rem;
  }

  .quatrieme p {
    position: relative;
    right: 3rem;
    font-size: 1.5rem;
  }

  .quatrieme i {
    position: relative;
    right: 3rem;
    font-size: 1.5rem;
  }

  .quatrieme i:nth-child(7){
    color: #dedede;
  }

  .quatrieme i:nth-child(8){
    color: #dedede;
  }

  .cinquieme{
    width: 25rem;
    position: relative;
   left: -8rem;
   top: 13rem;
  }

  .cinquieme img{
    width: 33.8rem;
    object-fit: cover;
  }

  .cinquieme h5{
    position: relative;
    right: 3rem;
  }

  .cinquieme p {
    position: relative;
    right: 3rem;
    font-size: 1.5rem;
  }

  .cinquieme i {
    position: relative;
    right: 3rem;
    font-size: 1.5rem;
  }

  .cinquieme i:nth-child(8){
    color: #dedede;
  }

  .sixieme{
    width: 25rem;
    position: relative;
   top: 16rem;
   left: -9rem;
  }

  .sixieme img{
    width: 33.8rem;
    object-fit: cover;
  }

  .sixieme h5{
    position: relative;
    right: 3rem;
  }

  .sixieme p {
    position: relative;
    right: 3rem;
    font-size: 1.5rem;
  }

  .sixieme i {
    position: relative;
    right: 3rem;
    font-size: 1.5rem;
  }

  /* Afficher Plus mobile */

  .infosup{
    position: absolute;
    top: 295rem;
    white-space: nowrap;
    left: 3rem;
  }

  /* Activité à Marseille mobile */

.titre3{
  position: absolute;
  top: 305rem;
  left: 3rem;
  
}

.grandephoto{
position: absolute;
top: 312rem;
left: 2.5rem;
right: 3rem;
width: 33rem;
height: 15rem;
}

.grandephoto img{
  width: 33rem;
  height: 10rem;
  object-fit: cover;
}

.petitephoto{
  position: absolute;
  top: 298rem;
  left: 2.5rem;
  width: 33rem;
  height: 15rem;
  }
  
  .petitephoto img{
    width: 33rem;
    height: 10rem;
    object-fit: cover;
  }

  .petitephoto1{
    position: absolute;
    top: 280rem;
    left: 2.2rem;
    width: 33rem;
    height: 15rem;
  }
  
  .petitephoto1 img{
      width: 33rem;
      height: 10rem;
      object-fit: cover;
    }

    .grandephoto2{
      position: absolute;
      top: 366rem;
      left: 2.2rem;
      width: 33rem;
      height: 15rem;
      }

      .grandephoto2 h4{
        position: relative;
        top: 10rem;
      }
      
      .grandephoto2 img{
        width: 33rem;
        height: 10rem;
        object-fit: cover;
       
      }

      .petitephoto3{
        position: absolute;
        top: 312rem;
        left: 2.2rem;
        width: 33rem;
        height: 15rem;
        
        }
        
        .petitephoto3 img{
          width: 33rem;
          height: 10rem;
          object-fit: cover;
        }

     

      .petitephoto4{
        position: absolute;
        top: 335rem;
        left: 2.2rem;
        width: 33rem;
        height: 15rem;
  
        }
        
        .petitephoto4 img{
          width: 33rem;
          height: 10rem;
          object-fit: cover;
        }

    /* Footer mobile */

 .backtest{
  display: flex;
   width: 40rem;
   height: 50rem;
   background: #F2F2F2;
   margin-top: 425rem;

   
 }

 .footerleft h3{
   position: relative;
   right: 18rem;
   font-size: 2rem;

 }

 .footerleft p {
   position: relative;
   right: 18rem;
   font-size: 1.7rem;
 }

 .footercenter h3{
  position: relative;
  right: 78rem;
  top: 20rem;
  white-space: nowrap;
  font-size: 2rem;

}

.footercenter p {
  position: relative;
  right: 78rem;
  top: 20rem;
  font-size: 1.7rem;
}

.footerright h3{
  position: relative;
  right: 148rem;
  top: 32rem;
  font-size: 2rem;
}

.footerright p {
  position: relative;
  right: 148rem;
  top: 32rem;
  white-space: nowrap;
  font-size: 1.7rem;
}

}